.green {
  color: green;
}

.section-content {
  padding: 5rem 0;
}


.mdc-top-app-bar
{
  background-color: #0a4a4a !important;
}
#main-nav {
  /* background-color: #e7f4f9; */
  margin-bottom: 15px;
}
#mainContainer
{
  min-height: 70vh;
}

.carousel-caption {
  max-width: 550px;
  padding: 0 20px;
  margin: 0 auto;
  top: 20%;
  text-align: center;
}

.card {
  margin: 10px;
  min-width: 200px;
  min-height: 150px;
  background-color: #fbf8f8;
}

.floating-card-deck {
  align-content: flex-start;
}

a.nav-link {
  color: white !important;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4caf50;
  color: white;
  margin-left: 1rem;
}
footer {
  background-color: #134040;
  color: white;
  margin-top: 5rem;
  padding: 2rem;
  opacity: .8;
}

.topicIcon{
  font-size: 50px;
  color:#3e8786;
}

.editTopic, .deleteTopic{
  font-size: 30px;
  color:#3e8786;
}

#topicManagerContainer, #users-ul {
  width: 70vw;
  margin:auto;
}

#userManagerContainer {
  width: 70vw;
  margin: auto;
}

.inline-topic-btn{
  width: 100%;
  text-align: right;
}

.inline-user-btn{
  // width: 33%;
  text-align: right;
}

.inline-user-content{
  width: 50%; 
}

.user-li
{
  margin-bottom : 1.2rem;
}
