$fa-font-path: '~font-awesome/fonts';
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import '~font-awesome/scss/font-awesome.scss';
@import "~bootstrap/scss/bootstrap";
@import "_variable.scss";
@import "_login.scss";
@import "_layout.scss";
@import "_mixin.scss";
@import "toaster-js/default.scss";

/* Absolute Center Spinner */

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.mdc-text-field__input{
  padding: 0px;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    /* spinner end here */
    #rightHead{
      a{
        width: auto;
      }
       img{
      width: 50px;
      border-radius: 50%;
    }
  }
    #loginWithGoogle{
      background: #bb0000 !important;
    }
   
/* social link*/
.social-link li,.social-login a{
  display: inline-block;
  width: 37px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 4px;
  @include textprop(20px, $white);
}

.social-link li:nth-child(1){
  background: #3b5998 ;
  }
  .social-link li:nth-child(2){ 
      background: #00aced ;
  }
  .social-link li:nth-child(3){
      background: #bb0000   ;
  }
  .social-link li:nth-child(4){
      background: #007bb6 ;
  }
  .social-link li:nth-child(5){ 
      background: #cb2027 ;
  }
  .footer-box-section{
    flex:1 0 32%;
    max-width: 32%;
    border-radius:$border-radius;
    border: 2px solid white;
    text-align: $text-align;
}

img.logo {
  max-width: 2rem;
}
.about-text {
  background-color: whitesmoke;
  color: black;
  @include roundedborder;
  padding: 0.5rem;
}

#mainContainer{
  height: 70vh;
}

/* this is applied when the screen size exceeds 991px */
@media screen and (min-width: 991px) {
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 0.25rem;
    line-height: 1.4;
  }
}

@media (max-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem; 
    font-size: 0.25rem;
    line-height: 1.4;
  }
}

.roundedCorner{
    @include roundedborder;
}


// Dashboard
input[name=search1] {
    width: 330px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[name=search1]:focus {
    width: 100%;
}

.hide {
  display: none;
}

// Wizard Steps
@keyframes size-0
{
    0%{-webkit-transform:scaleX(0.7) scaleY(0.4); height: 200px;}
    100%{
      -webkit-transform:scaleX(0.4) scaleY(0.2);  
      -webkit-transform-origin:top; 
      -moz-transform-origin:top; 
      height: 100px;
      filter: blur(10px);
      -webkit-filter: blur(10px);
      }
}

.size-0 {
    // position:relative;
    animation-fill-mode: forwards;
    -webkit-animation-name: size-0;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-name: size-0;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes size-1
{
    0%{-webkit-transform:scaleX(0.9) scaleY(0.6); height: 270px;}
    100%{
      -webkit-transform:scaleX(0.7) scaleY(0.4);  
      -webkit-transform-origin:top; 
      -moz-transform-origin:top; 
      height: 200px;
      filter: blur(6px);
      -webkit-filter: blur(6px);
      }
}

.size-1 {
    // position:relative;
    animation-fill-mode: forwards;
    -webkit-animation-name: size-1;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-name: size-1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes size-2
{
    0%{-webkit-transform:scale(1); height: 400px;}
    100%{
      -webkit-transform:scaleX(0.9) scaleY(0.6); 
      -webkit-transform-origin:top; 
      -moz-transform-origin:top; 
      height: 270px; 
      filter: blur(3px); 
      -webkit-filter: blur(3px);
    }
}

.size-2 {
    // position:relative;
    animation-fill-mode: forwards;
    -webkit-animation-name: size-2;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-name: size-2;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes big
{
    0%{-webkit-transform:scaleX(0.9) scaleY(0.6);}
    100%{-webkit-transform:scale(1); -webkit-transform-origin:top; -moz-transform-origin:top; height: 400px;}
}

.big {
    position:relative;
    animation-fill-mode: forwards;
    -webkit-animation-name: big;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-name: big;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.good {
  animation: anim .3s ease-in-out;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 20px 0;
}

// #wizardStep1 {
//   margin-top: 60px;
// }

.subject-pills {
  margin-top: 30px;
  width: 200px;
  height: 70px;
  background: rgba(15, 83, 211, 0.3);
  border-radius: 7px;
  color: white;
  margin: auto;
  font-weight: bolder;
  font-size: 1.3em;
  vertical-align: baseline;
  text-align:center;
  line-height: 70px;
}

#subject-pills-2, #subject-pills-3 {
  display: flex;
}

.subject-pills:hover, .clickPill{
  background: rgba(41, 23, 129, 0.7);
  cursor: pointer;
}

.messages {
  padding-top: 60px;
}

.message {
  color: whitesmoke;
}
